:root {
  --main-text: #000000;
  --logo: url("../images/logo.svg");
  --toggler-icon: url("../images/dark-icon.svg");
  --header-top-bg-color: #f1f0ee;
  --header-bg-color: #f1f0ee;
  --header-bg-img: url("../images/hero-bgi.png");
  --mode-btn-bg: #f5f5f5;
  --courses-bg: #f9f8f7;
  --courses-desc: #607987;
  --courses-item-border: 1px solid #607987;
  --bg-hero: #fff;
  --hero-card-text: #607987;
  --contact-bg: #ffffff;
  --contact-inner-bg: #f9f8f7;
  --contact-label: #000;
  --hero-title: #0f1826;
  --hero-card-icon1: url("../images/online-academy.svg");
  --hero-card-icon2: url("../images/master-work.svg");
  --hero-card-icon3: url("../images/not-just-course.svg");
  --hero-card-icon4: url("../images/increative-lessons.svg");
  --hero-btn: #ba8d5b1a;
  --hero-bg-position: calc(50% - 0px) calc(100% + 50px);
  --toggler-hover: url("../images/dark-icon-white.svg");
  --menu-bg: #f9f8f7;
  --menu-overlay: rgba(0, 0, 0, 0.7);
  --open-btn: url("../images/close.svg");
  --close-btn: url("../images/close-btn.png");
  --footer-bg: #f9f8f7;
  --footer-desc: #607987;
  --insta: url("../images/insta-icon.svg");
  --lk: url("../images/lk-icon.svg");
  --footer-drop-down: url("../images/arrow-down.svg");
  --blog-bg: #fff;
  --blog-text: #00000059;
  --views-icon: url("../images/views-icon.svg");
}

@media only screen and (max-width: 1024px) {
  :root {
    --hero-bg-position: calc(50% - 100px) calc(100% + 50px);
  }
  .dark {
    --hero-bg-position: calc(50% - 100px) calc(100% + 8px);
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* lato-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2"), url("../fonts/lato-v24-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2"), url("../fonts/lato-v24-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2"), url("../fonts/lato-v24-latin-900.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding-top: 80px;
  font-family: "Lato";
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header-top {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 17px 0;
  background-color: var(--header-top-bg-color);
  z-index: 5;
}

.header-top-inner {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  max-width: 214px;
  width: 100%;
  padding: 23px 0;
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  margin-left: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 35px;
  list-style-type: none;
}

.nav-item + .nav-item {
  margin-left: 37px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: var(--main-text);
}

.header-top-link {
  padding: 11px 49px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-radius: 100px;
  border: none;
  background-color: #fff;
  border: 1px solid #f1f0ee;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.header-top-link:hover {
  border: 1px solid #bd8f5b;
}
.header-top-link:hover {
  background-color: #f5f5f5;
  border: 1px solid #bd8f5b;
  color: #ba8d5b;
}
.header-top-link:active {
  background-color: #ba8d5b;
  color: #ffffff;
}

.header-top-mode {
  padding: 20px;
  margin-left: 35px;
  background-color: var(--mode-btn-bg);
  border-radius: 100px;
  border: none;
  background-image: var(--toggler-icon);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-top-mode:active {
  background-color: #bd8f5b;
  background-image: var(--toggler-hover);
}

.header-bottom {
  background-color: var(--header-bg-color);
  background-image: var(--header-bg-img);
  background-position: var(--hero-bg-position);
  background-repeat: no-repeat;
  color: var(--main-text);
}

.header-bottom-inner {
  padding: 116px 0 60px;
}

.header-title {
  margin: 0 0 18px;
  max-width: 160px;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}
.header-title span {
  color: #ba8d5b;
}

.header-text {
  margin: 0 0 60px;
  max-width: 360px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header-bottom-link {
  display: inline-block;
  padding: 19px 40px;
  background: #ba8d5b;
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.header-bottom-link:hover {
  background: #f5f5f5;
  border: 1px solid #bd8f5b;
  color: #ba8d5b;
}
.header-bottom-link:active {
  background: #ba8d5b;
  color: #ffffff;
}

.open-menu {
  display: block;
  width: 20px;
  height: 20px;
  background-image: var(--open-btn);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.open-menu {
  display: none;
}

.header-top-link {
  padding: 7px 20px;
}

.nav-mobile {
  display: none;
  transition: all 0.2s ease;
  width: 100%;
  position: fixed;
  right: -780px;
  top: 0;
  z-index: 6;
  height: 100vh;
  background-color: var(--menu-overlay);
}
.nav-mobile ul {
  width: 60%;
  position: relative;
  padding: 110px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--menu-bg);
  height: 100vh;
  margin-left: auto;
  margin-right: 0;
}
.nav-mobile ul li {
  margin: 0 0 30px;
}
.nav-mobile ul li .nav-link {
  font-size: 24px;
}
.nav-mobile .header-top-mode {
  position: absolute;
  top: 20px;
  left: 40px;
  padding: 25px;
  margin: 0;
}
.nav-mobile .menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  margin: 0;
  background-color: transparent;
  background-image: var(--close-btn);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
}

.open {
  transition: all 0.2s ease;
  right: 0;
}

@media only screen and (max-width: 768px) {
  .header-bottom {
    background-image: none;
  }
  .header-bottom-inner {
    padding: 45px 0 28px;
    text-align: start;
  }
  .header-title {
    padding: 0;
  }
  .logo {
    max-width: 185px;
    background-size: contain;
  }
  .header-title {
    max-width: 100%;
    font-size: 24px;
    line-height: 36px;
    max-width: 180px;
    margin: 0 0 12px;
  }
  .header-text {
    max-width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 24px;
  }
  .header-bottom-link {
    padding: 8px 33px;
  }
  .nav {
    display: none;
  }
  #header-top-link2 {
    margin-left: auto;
    margin-right: 12px;
  }
  #header-top-link {
    display: none;
  }
  .nav-item + .nav-item {
    margin-left: 0;
  }
  .header-top-link {
    background-color: #bd8f5b;
    border: 1px solid #f1f0ee;
    transition: all 0.3s ease;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }
  .header-top-link:hover {
    border: 1px solid #bd8f5b;
  }
  .header-top-link:hover {
    background-color: #f5f5f5;
    border: 1px solid #bd8f5b;
    color: #ba8d5b;
  }
  .header-top-link:active {
    background-color: #ba8d5b;
    color: #ffffff;
  }
  .nav-mobile {
    display: block;
  }
  .open-menu {
    display: block;
  }
}
@media only screen and (max-width: 380px) {
  .logo {
    max-width: 150px;
  }
  .header-top-link {
    padding: 3px 14px;
  }
  .nav-mobile ul {
    padding: 100px 20px;
  }
  .menu-close {
    padding: 15px !important;
    right: 10px !important;
  }
  .header-top-mode {
    padding: 15px !important;
    left: 20px !important;
  }
}
.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.courses {
  padding: 49px 0;
  background-color: var(--courses-bg);
}
.courses h2 {
  margin: 0 0 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 56px;
  letter-spacing: -0.64px;
  color: var(--main-text);
}
.courses .courses__desc {
  margin: 24px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--courses-desc);
}

.courses__list {
  width: 100%;
  max-width: 543px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses__list li {
  width: 100%;
  max-width: 255px;
  padding: 16px 17px;
  border: var(--courses-item-border);
  border-radius: 4px;
}
.courses__list li h3 {
  margin: 0 0 13px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.4px;
  color: var(--main-text);
}
.courses__list li p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.32px;
  color: var(--courses-desc);
}

.courses__link {
  display: block;
  margin-top: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #0eb182;
}

@media screen and (max-width: 576px) {
  .courses {
    padding: 24px 0;
  }
  .courses__list {
    flex-direction: column;
  }
  .courses__list li {
    max-width: 100%;
  }
  .courses__list li + li {
    margin-top: 24px;
  }
  .courses__link {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (max-width: 515px) {
  .courses h2 {
    font-size: 23px;
    line-height: 45px;
  }
}
@media screen and (max-width: 434px) {
  .courses .courses__desc {
    font-size: 15px;
    line-height: 19px;
  }
}
.hero {
  padding: 48px 0;
  background-color: var(--bg-hero);
}

.hero__title {
  margin: 0 0 48px;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.64px;
  color: var(--hero-title);
  margin-bottom: 48px;
}

.hero__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.hero__card {
  width: 100%;
  max-width: 536.63px;
  display: flex;
}
.hero__card:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 54px;
}
.hero__card:nth-child(1)::before {
  display: block;
  width: 48px;
  height: 43px;
  background-image: var(--hero-card-icon1);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.hero__card:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.hero__card:nth-child(2)::before {
  display: block;
  width: 48px;
  height: 46px;
  background-image: var(--hero-card-icon2);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.hero__card:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.hero__card:nth-child(3)::before {
  display: block;
  width: 48px;
  height: 44px;
  background-image: var(--hero-card-icon3);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
.hero__card:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.hero__card:nth-child(4)::before {
  display: block;
  width: 48px;
  height: 46px;
  background-image: var(--hero-card-icon4);
  background-repeat: no-repeat;
  content: "";
  background-position: center;
}

.hero__card__icon {
  -o-object-fit: contain;
     object-fit: contain;
  height: 48px;
}

.hero__card__content {
  max-width: 433px;
  width: 100%;
  margin-left: 40px;
}

.hero__card__title {
  margin: 0 0 14px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.4px;
  color: var(--hero-title);
}

.hero__card__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
  color: var(--hero-card-text);
}

.hero__more__btn {
  background-color: transparent;
  color: #0eb182;
  border: none;
  display: flex;
  cursor: pointer;
}
.hero__more__btn::after {
  content: "";
  background-image: url("../../images/more-icon.svg");
  width: 24px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 11px;
  background-color: var(--hero-btn);
  border-radius: 50%;
}

@media screen and (max-width: 1130px) {
  .hero__card {
    width: 100%;
    max-width: 450px;
  }
  .hero__card .hero__card__content {
    width: 100%;
    max-width: 360px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 990px) {
  .hero__title {
    text-align: center;
  }
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 150px 150px 1fr 160px;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }
  .hero__card + .hero__card {
    margin-top: 46px;
  }
  .hero__card:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0;
  }
  .hero__card:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .hero__card:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .hero__card:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .hero__more__btn {
    margin: 30px auto 0;
  }
}
@media screen and (max-width: 576px) {
  .hero__title {
    text-align: left;
    font-size: 28px;
    line-height: 40px;
  }
  .hero__card__title {
    font-size: 20px;
    line-height: 30px;
  }
  .hero__card__text {
    font-size: 14px;
    line-height: 20px;
  }
  .hero__more__btn {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 150px 150px 1fr 1fr;
  }
  .hero__cards .hero__card__content {
    max-width: 300px;
    margin-left: 26px;
  }
}
@media screen and (max-width: 450px) {
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 160px 150px 1fr 1fr;
  }
}
@media screen and (max-width: 417px) {
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 160px 170px 1fr 1fr;
  }
  .hero__cards .hero__card__content {
    max-width: 230px;
  }
}
@media screen and (max-width: 410px) {
  .hero__title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media screen and (max-width: 400px) {
  .hero__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .hero__card:nth-child(2) {
    margin-top: 25px;
  }
  .hero__card:nth-child(3) {
    margin-top: 15px;
  }
  .hero__card:nth-child(4) {
    margin-top: 20px;
  }
  .hero__card__content {
    margin-left: 25px;
  }
  .hero__card__content h3 {
    font-size: 18px;
    line-height: 22px;
  }
  .hero__card__content p {
    font-size: 13px;
    line-height: 17px;
  }
}
@media screen and (max-width: 377px) {
  .hero__card + .hero__card {
    margin-top: 38px;
  }
  .hero__card:nth-child(3) {
    margin-top: 30px;
  }
}
@media screen and (max-width: 345px) {
  .hero__card .hero__card__content {
    max-width: 190px;
  }
}
.contact {
  background-color: var(--contact-bg);
  padding-bottom: 97px;
}

.contact__inner {
  background-color: var(--contact-inner-bg);
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.contact__right {
  background-color: var(--contact-bg);
  width: 100%;
  max-width: 448px;
  margin-left: 32px;
  padding: 45px 40px;
  border-radius: 16px;
}

.contact__title {
  margin: 0 0 16px;
  color: var(--main-text);
}

.contact__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
  color: var(--hero-card-text);
}

.contact__faq {
  color: #ba8d5b;
}

.contact__name__label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
  margin-bottom: 6px;
  color: var(--contact-label);
}

.contact__name__input {
  padding: 14px 0 14px 17px;
  max-width: 368px;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 100px;
  margin-bottom: 16px;
  background-color: var(--contact-bg);
  color: var(--main-text);
}
.contact__name__input:focus {
  outline: none;
}

.contact__phone__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
  color: var(--contact-label);
  display: block;
  margin-bottom: 6px;
}

.contact__phone__input {
  padding: 14px 0 14px 17px;
  max-width: 368px;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 100px;
  margin-bottom: 32px;
  padding-left: 55px;
  background-color: var(--contact-bg);
  color: var(--main-text);
}
.contact__phone__input:focus {
  outline: none;
}

.value__input {
  position: relative;
}
.value__input::before {
  content: "+998";
  position: absolute;
  color: var(--main-text);
  width: 38px;
  height: 24px;
  z-index: 2;
  top: calc(50% - 9px);
  left: 14px;
}

.contact__text__second {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--main-text);
  max-width: 352px;
  width: 100%;
  margin-bottom: 22px;
}

.contact__link {
  margin-left: 10px;
}

.contact__submit__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--contact-bg);
  padding: 13px 0;
  max-width: 368px;
  width: 100%;
  background-color: #ba8d5b;
  border-radius: 100px;
  border: none;
}

@media screen and (max-width: 1050px) {
  .contact__left img {
    width: 100%;
    max-width: 448px;
  }
  .contact__right {
    margin: 16px;
  }
}
@media screen and (max-width: 980px) {
  .contact__inner {
    justify-content: center;
  }
  .contact__left img {
    display: none;
  }
  .contact__right {
    max-width: 326px;
  }
}
.comments {
  padding: 40px 0 114px;
  background-color: var(--contact-bg);
}
.comments h2 {
  margin: 0 0 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
  color: var(--main-text);
}

.comments__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--courses-desc);
}

.comments__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}
.comments__list li {
  position: relative;
}
.comments__list .play-button {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 127px;
  padding: 6px;
  border: none;
  border-radius: 100px;
  background-color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}
.comments__list .play-button::before {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("../../images/play.svg");
  background-position: center right 5px;
  background-repeat: no-repeat;
  background-color: #ba8d5b;
  border-radius: 14px;
  content: "";
}
.comments__list .pause-button {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 4;
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 127px;
  padding: 6px;
  border: none;
  border-radius: 100px;
  background-color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}
.comments__list .pause-button::before {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url("https://najottalim.uz/_next/static/media/icon-play.de961c45.svg");
  background-position: center right 5.7px;
  background-repeat: no-repeat;
  background-color: #ba8d5b;
  border-radius: 14px;
  content: "";
}
.comments__list video {
  width: 214px;
  height: auto;
  border-radius: 24px;
}
.comments__list .video__content {
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  padding: 90px 22px 20px;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.37) 69.5%, rgba(0, 0, 0, 0.65) 90.34%);
}
.comments__list .video__content time {
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.24px;
  color: #ffffff;
}
.comments__list .video__content p {
  margin: 6px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.24px;
  color: #7cd1ac;
}
.comments__list .video__content h3 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.carousel-btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.prev {
  display: none;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-color: #ba8d5b;
  border: 0;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
}

.next {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #ba8d5b;
  border: 0;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
}

@media screen and (max-width: 990px) {
  .comments__list {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
  .comments__list li + li {
    margin-left: 30px;
  }
  .comments__list li:nth-child(3) h3 {
    font-size: 15px;
  }
  .prev {
    display: block;
  }
  .next {
    display: block;
  }
}
@media screen and (max-width: 630px) {
  .comments {
    padding: 40px 0 40px;
  }
  .comments__list {
    width: 215px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }
  .comments__list li {
    margin: 0 !important;
  }
}
@media screen and (max-width: 490px) {
  .comments h2 {
    font-size: 24px;
  }
  .comments__desc {
    font-size: 14px;
  }
}
@media screen and (max-width: 345px) {
  .comments h2 {
    font-size: 22px;
  }
}
.jobs {
  padding: 48px 0;
  background-color: var(--contact-bg);
}

.jobs__title {
  color: var(--main-text);
  font-weight: 800;
  font-size: 32px;
  line-height: 56px;
  margin: 0 0 24px;
}

.jobs__text {
  color: var(--hero-card-text);
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.jobs__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 31px;
}
.jobs__list li {
  cursor: pointer;
  background-color: #c9c9c9;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
  padding: 16px 12px;
}
.jobs__list li:hover {
  background-color: #fff;
  box-shadow: 0 2px 18px 3px rgba(0, 0, 0, 0.05);
}
.jobs__list img {
  filter: grayscale(100%) brightness(50%);
  transition: filter 0.5s ease;
}
.jobs__list img:hover {
  filter: none;
}

@media only screen and (max-width: 1140px) {
  .jobs__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 31px;
  }
  .jobs__list li:nth-child(16) {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 960px) {
  .jobs__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .jobs__list li:nth-child(12) ~ li {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  .jobs__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .jobs__list li:nth-child(4) ~ li {
    display: none;
  }
  .jobs__list li {
    text-align: center;
  }
}
@media screen and (max-width: 380px) {
  .jobs__list {
    gap: 20px;
  }
  .jobs__list li {
    padding: 0;
  }
  .jobs__title {
    font-size: 30px;
  }
}
.c-hero,
.c-navigation,
.c-content {
  background-color: var(--contact-bg);
  color: var(--main-text);
}

.c-navigation {
  padding: 32px 0 0;
}

.navigation {
  display: flex;
  padding: 4px;
  color: #c4c4c4;
}
.navigation::before {
  margin-right: 8px;
  content: "Bosh sahifa";
  color: #c4c4c4;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.navigation::after {
  margin-left: 8px;
  content: "Kurslar";
  color: #ba8d5b;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.c-hero {
  padding: 0 0 72px;
}

.c-hero-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-hero-top label {
  position: relative;
  max-width: 350px;
  width: 100%;
}
.c-hero-top label::after {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.c-hero-title {
  font-weight: 800;
  font-size: 32px;
  line-height: 56px;
}

.c-hero-search {
  padding: 15px;
  width: 100%;
  background: #f7f7f5;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  border: none;
  outline: none;
}

.c-hero-search::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.c-hero-search::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.c-hero-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.c-hero-btn {
  display: inline-block;
  padding: 12px 30px;
  margin-right: 16px;
  background: #f5f5f5;
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.c-hero-btn:nth-child(1) {
  background: #ba8d5b;
  color: #ffffff;
}
.c-hero-btn:hover {
  background: #f5f5f5;
  border: 1px solid #bd8f5b;
  color: #ba8d5b;
}
.c-hero-btn:active {
  background: #ba8d5b;
  color: #ffffff;
}

.c-content {
  padding: 0 0 48px;
  background-color: var(--contact-bg);
  color: var(--main-text);
}

.c-list {
  display: flex;
  justify-content: space-between;
}

.c-item {
  padding: 24px;
  max-width: 543px;
  width: 100%;
  background-color: var(--courses-bg);
  border-radius: 4px;
}

.c-card-top {
  padding: 0 0 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #BA8D5B;
}
.c-card-top span:nth-child(1) {
  font-weight: 700;
  padding: 5px 12px;
  margin-right: 24px;
  background: #D1D1D1;
  border-radius: 4px;
  color: #000;
}
.c-card-top span:nth-child(3) {
  margin-right: 22px;
  font-weight: 700;
}
.c-card-top span:nth-child(5) {
  font-weight: 700;
}

.c-card-content {
  max-width: 269px;
  width: 100%;
}

.c-card-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.56px;
}

.c-card-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.28px;
  opacity: 0.7;
}

.c-item {
  background-image: url("../images/c-card-1.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 30px) calc(100% - 30px);
}

.c-item:nth-child(2) {
  background-image: url("../images/c-card-2.png");
}

.navigation {
  display: flex;
  align-items: center;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .c-hero-top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .c-hero-title {
    margin: 0;
    margin-bottom: 16px;
  }
  .c-hero-search {
    margin: 0 0 24px;
  }
  .c-list {
    flex-direction: column;
    align-items: center;
  }
  .c-item {
    display: flex;
    flex-direction: column-reverse;
    padding: 220px 17px 17px;
    margin-bottom: 30px;
    background-position: center calc(0% + 20px);
  }
  .c-card-content {
    max-width: 100%;
  }
  .c-card-title {
    margin: 0 0 16px;
  }
  .c-card-text {
    margin: 0 0 30px;
  }
  .c-card-top span:nth-child(1) {
    display: block;
    margin-bottom: 10px;
    max-width: 100px;
  }
}
@media screen and (max-width: 364px) {
  .c-hero-title {
    font-size: 28px;
    line-height: 56px;
    margin: 0;
  }
  .c-hero-search {
    padding: 14px;
  }
  .c-hero-btn {
    padding: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .c-item {
    margin-bottom: 20px;
    padding: 205px 12px 12px;
  }
  .c-hero {
    padding: 0 0 30px;
  }
  .c-card-title {
    font-size: 24px;
    line-height: 29px;
  }
  .c-card-top span:nth-child(1) {
    display: block;
    margin-bottom: 10px;
    max-width: 100px;
  }
}
.blog {
  background-color: var(--courses-bg);
  padding-bottom: 48px;
}

.blog__hero {
  background-color: var(--courses-bg);
}

.blog__hero:nth-child(3) {
  padding: 16px 0;
}

.blog__hero:nth-child(2) {
  padding: 0;
}

.blog__btns button {
  background-color: var(--contact-bg);
  color: var(--main-text);
  margin-bottom: 24px;
}

.blog__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 47px;
}

.blog__type {
  padding: 5px 12px;
  position: absolute;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  top: 16px;
  left: 16px;
  display: none;
}

.card {
  max-width: 342px;
  width: 100%;
  position: relative;
  padding: 8px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 2px 16px 3px rgba(0, 0, 0, 0.1019607843);
  border-radius: 12px;
}
.card:hover .blog__type {
  display: block;
}

.image__blog {
  width: 100%;
}

.blog__texts {
  margin-top: 26px;
  display: flex;
  justify-content: space-between;
  color: var(--blog-text);
}

.blog__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--main-text);
  margin-top: 14px;
  margin-bottom: 14px;
}

.blog__views {
  position: relative;
}
.blog__views::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -18px;
  vertical-align: middle;
  background-repeat: no-repeat;
  top: 1px;
  background-image: var(--views-icon);
}

.blog__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--blog-text);
}

.blog__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding: 13px 0;
  max-width: 200px;
  width: 100%;
  background-color: #ba8d5b;
  border-radius: 100px;
  border: none;
  display: block;
  margin: 56px auto 0;
}

@media screen and (max-width: 960px) {
  .blog__cards {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
  }
}
@media screen and (max-width: 700px) {
  .blog__cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    max-width: 342px;
    width: 100%;
    margin: 0 auto;
  }
}
.site-footer {
  padding: 26px 0 50px;
  background-color: var(--footer-bg);
}

.site-footer__top {
  display: flex;
  justify-content: space-between;
}

.site-footer__left {
  min-width: 239px;
  max-width: 240px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.site-footer__desc {
  margin-top: 22px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: var(--courses-desc);
}

.desktop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 820px;
  border-bottom: 1px solid rgba(129, 117, 92, 0.3019607843);
}

.desktop__inner {
  width: 100%;
  max-width: 175px;
}
.desktop__inner strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  text-transform: capitalize;
  color: var(--hero-title);
}

.desktop__list {
  margin-top: 34px;
}
.desktop__list a {
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: -0.28px;
  color: var(--footer-desc);
}

.mobile {
  display: none;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
}

.bottom__left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 533px;
}

.bottom__info small {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  color: var(--footer-desc);
}

.bottom__address {
  width: 100%;
  max-width: 227px;
}
.bottom__address address {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: var(--hero-title);
}
.bottom__address p {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.28px;
  color: var(--footer-desc);
}

.bottom__right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin-left: 80px;
}

.bottom__socials strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: var(--hero-title);
}

.bottom__socials__list {
  display: flex;
  align-items: center;
  margin-top: 17px;
}
.bottom__socials__list a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom__socials__list a + a {
  margin-left: 12px;
}
.bottom__socials__list a:nth-child(1):hover path {
  fill: #55ace3;
}
.bottom__socials__list a:nth-child(2):hover path {
  fill: #0b84ee;
}
.bottom__socials__list a:nth-child(3):hover path {
  fill: #ff0000;
}
.bottom__socials__list a:nth-child(4) {
  display: inline-block;
  width: 24px;
  height: 25px;
  background-image: var(--insta);
  background-position: center;
  background-repeat: no-repeat;
}
.bottom__socials__list a:nth-child(4):hover {
  background-image: url("../../images/insta-hover.svg");
  background-size: 24px;
}
.bottom__socials__list a:nth-child(5) {
  display: inline-block;
  width: 24px;
  height: 25px;
  background-image: var(--lk);
  background-position: center;
  background-repeat: no-repeat;
}
.bottom__socials__list a:nth-child(5):hover {
  background-image: url("../../images/lk-icon-hover.svg");
}

.bottom__contact {
  width: 100%;
  max-width: 158px;
}
.bottom__contact strong {
  display: block;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: var(--hero-title);
}
.bottom__contact a {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.36px;
  color: var(--courses-desc);
}

@media screen and (max-width: 1080px) {
  .bottom__right {
    max-width: 430px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 975px) {
  .bottom__right {
    max-width: 380px;
    margin-left: 40px;
  }
}
@media screen and (max-width: 910px) {
  .bottom__right {
    margin-left: 30px;
  }
}
@media screen and (max-width: 890px) {
  .site-footer__top {
    flex-direction: column;
  }
  .site-footer__left {
    margin-bottom: 42px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  details ul {
    margin-top: 10px !important;
  }
  details + details {
    margin-top: 24px;
  }
  summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--main-text);
  }
  summary::after {
    display: block;
    width: 12px;
    height: 7px;
    background-image: var(--footer-drop-down);
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
  }
  .bottom {
    flex-direction: column-reverse;
  }
  .bottom__left {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  .bottom__socials {
    margin-bottom: 28px;
  }
  .bottom__right {
    flex-direction: column;
    margin: 0;
  }
  .bottom__address {
    max-width: 350px;
  }
  .bottom__info {
    margin-top: 20px;
  }
  .bottom__info small {
    display: inline-block;
  }
  .bottom__info small + small {
    margin-left: 14px;
  }
}
@media screen and (max-width: 367px) {
  .bottom__info small + small {
    margin: 0;
    display: block;
  }
}/*# sourceMappingURL=main.css.map */